<h1>Merci pour cette partie de "Des Lettres et des Chiffres !</h1>

<p><%= @returned[:message] %><p>
<p>Votre réponse était = <%= @input %><p>
<p>Cela vous fait gagner <%= @score %> points. C'est bien :) <p>
<p>It took you <%= @total_time %> seconds.<p>
